@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

.header{
    background-image: url(./images/donation5.jpg), linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.9));
    background-blend-mode: multiply;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-description{
    text-align: center;
    justify-content: center;
    color: white;
    padding-top: 320px;
    
}

.banner-title{
    font-size: 50px;
    font-weight: 700;
}

.description{
    padding: 25px 0;
    color: rgba(255, 255, 255, 0.89);
}

.btn-primary{
    font-size: 18px;
    font-weight: 450;
    padding: 13px;
    border-radius: 5px;
    border: none;
    background-color: rgb(11, 158, 11);
    color: white;
}

/* Donate today */

.donate-today{
    text-align: center;
}


.section-title{
    padding-top: 80px;
    font-size: 50px;
}

.section-description{
    color: rgb(100, 95, 95);
    padding: 20px 0;
    margin-bottom: 10px;
}

.donate-amount{
    padding: 20px 0;
}
.taka{
    font-size: 24px;
    font-weight: 900;
    padding: 40px 30px;
    color: gray;
    background-color: rgba(236, 234, 234, 0.753);
    border: none;
    border-radius: 5px;
   margin: 0 8px;
   cursor: pointer;
}

.taka:hover{
    border: 2px solid rgb(11, 158, 11) ;
    color: rgb(11, 158, 11);
}

#number{
    font-size: 18px;
    width: 720px;
    text-align: center;
    padding: 10px 10px;
    margin-top: 50px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid rgba(201, 201, 201, 0.918);
}

input::placeholder{
    color: rgb(212, 206, 206);
}

/* Donate plan */

.donate-plan{
    text-align: center;
    
}

.plans{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    
   
}

.plan-title{
    text-align: start;
    padding: 20px 20px;
    font-weight: 900;
    font-size: 20px;
}

.icon{
    margin-top: 50px;
    margin-right: 200px;
}



.plan-description{

    text-align: start;
    padding: 5px 10px 40px 20px;
    color: rgb(114, 114, 114);
}

.plan1{

    background-color: rgb(196, 229, 240);
    border-radius: 5px;
}

.plan2{

    background-color: rgb(235, 201, 206);
    border-radius: 5px;
    
}

.plan3{

    background-color: lightgoldenrodyellow;
    border-radius: 5px;
}

/* Contributes */
.contributes{
    margin-top: 200px;
}

.contribute1{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.support{
    height: 380px;
    width: 380px;
    border-radius: 10px;
}

.contribute2{
    display: flex;
    gap: 100px;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
}

/* subscribe */

.my-update{
   

    text-align: center;
    font-weight: 500;
}

input[type="email"]{
    width: 300px;
    padding: 17px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    background-color: rgb(224, 234, 238);
    
}

input::placeholder{
    color: rgb(143, 140, 140);
    font-weight: 700;
}

.btn-secondary{
    width: 150px;

    padding: 13px;
    border: none;
    font-size: 18px;
    color: white;
    background-color: rgb(11,158,11);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.subscribe{
    background-color: antiquewhite;
    height: 150px;
    width: 650px;
    padding-top: 58px;
    margin: 0 auto;
    border-radius: 10px;
}




