@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-image: url(./images/donation5.jpg), linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.9));
    background-blend-mode: multiply;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner-description{
    text-align: center;
    justify-content: center;
    color: white;
    padding-top: 320px;
    
}

.banner-title{
    font-size: 50px;
    font-weight: 700;
}

.description{
    padding: 25px 0;
    color: rgba(255, 255, 255, 0.89);
}

.btn-primary{
    font-size: 18px;
    font-weight: 450;
    padding: 13px;
    border-radius: 5px;
    border: none;
    background-color: rgb(11, 158, 11);
    color: white;
}

/* Donate today */

.donate-today{
    text-align: center;
}


.section-title{
    padding-top: 80px;
    font-size: 50px;
}

.section-description{
    color: rgb(100, 95, 95);
    padding: 20px 0;
}

.donate-amount{
    padding: 20px 0;
}
.taka{
    font-size: 24px;
    font-weight: 900;
    padding: 40px 30px;
    color: gray;
    background-color: rgba(236, 234, 234, 0.753);
    border: none;
    border-radius: 5px;
   margin: 0 8px;
   cursor: pointer;
}

.taka:hover{
    border: 2px solid rgb(11, 158, 11) ;
    color: rgb(11, 158, 11);
}

#number{
    font-size: 18px;
    width: 720px;
    text-align: center;
    padding: 10px 10px;
    margin-top: 50px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid rgba(201, 201, 201, 0.918);
}

input::placeholder{
    color: rgb(212, 206, 206);
}

